@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* header */
header {
    margin: 0px 0px 2em 0px;
}

.header__title {
    background-color: #24292E;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    padding: 8px 48px;
}

.header__nav {
    border-bottom: 2px solid #EAECEF;
    background-color: #FAFBFC;
    padding: 0px 36px;
}

.header__nav ul {
    height: 3em;
}

.header__nav li {
    float: left;
    height: inherit;
}

.header__nav a {
    display: block;
    height: inherit;
    color: #000;
    padding: 0 1em;
}

.header__nav span {
    position: relative;
    top: 10px;
}

.header__nav li:hover {
    border-bottom: 2px solid #f9826C;
}

/* main */
main {
    display: flex;
    flex-wrap: wrap;
}

.section-container {
    display: inline-block;
    background-color: #FAFBFC;
    border-bottom: 2px solid #D9DBDB;
    padding: 16px 30px 30px;
    margin: 21px;
    max-width: 40em;
}

.section-container p {
    text-align: left;
}

.section-container:hover {
    border-color: #f9826C;
}

.section__title {
    font-weight: 700;
    font-size: 21px;
    margin: 0 0 16px 0;
}


/* footer */
footer {
    width: 100%;
    text-align: center;
    margin: 2em 0px 10px;
}

footer::before {
    content: "";
    display: inline-block;
    width: 90%;
    border-top: 1px solid #EAECEF;
    margin: 6px;
}

.footer__nav {
    width: 60%;
    margin: 0px auto 21px;
}

.footer__nav ul {
    display: flex;
    justify-content: space-around;
    
}

.footer__nav a {
    color: #0366D6;
}

.footer__nav address {
    font-style: normal;
    color: #586069;
}

.footer__copyright {
    font-weight: 300;
    font-size: 12px;
    color: #586069;
}